<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/templates/style.css">
    </head>

    <body>
        <div class = "navbar">
            <header>  
                <h1 class="logo">RateUp</h1>
                <nav>
                    <ul class = "nav_links">
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">TV Shows</a></li>
                        <li><a href="#">Watchlist</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="/login">Ingresar</a></li>
                    </ul>
                </nav>
                <a href = "/signUp"><button>Registrarse <i class = "arrow right"></i></button></a>
            </header>
        </div>
    </body>
</html>