name: Deployment

concurrency: production

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: papalina
          POSTGRES_DB: rateup
        ports:
          - 5432:5432
          
    env:
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_PASSWORD: papalina
      POSTGRES_USER: postgres

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      # Set up Python 3.6 environment
      - name: Set up Python 3.6
        uses: actions/setup-python@v1
        with:
          python-version: "3.6"

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask
          pip install psycopg2
  
  test:
    needs: build
    runs-on: ubuntu-latest
    # Run our unit tests
    steps:  
    - name: Run Unit Tests
      run: | 
           python joalereyesu/rateUp/test_application.py
